<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<span th:text="'Hello, ' + ${userFullName} + '!'"></span>
<a href="/logout">logout</a>
<br/>
<a href="/">index</a>
<a href="/persons">persons</a>
<br/>
<br/>
<br/>

<div th:if="${not #lists.isEmpty(persons)}">
    <h3>Persons table</h3>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${persons}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.age}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>